<a href="https://colab.research.google.com/github/rhks13/Closure-Prediction/blob/main/%EA%B2%BD%EC%A0%9C%EC%A7%80%ED%91%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import pickle
from datetime import datetime

In [ ]:
# save
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/seouldata.pickle', 'wb') as f:
    pickle.dump(seoulfood, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/seouldata_경제전처리.pickle', 'rb') as f:
    data = pickle.load(f)

In [ ]:
data.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총종업원수',
       '본사종업원수', '공장사무직종업원수', '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액',
       '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지',
       '선행종합지수(2015=100)', '전국', '소비자심리지수', '소기업'],
      dtype='object')

In [ ]:
# load
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/seouldata.pickle', 'rb') as f:
    data = pickle.load(f)

In [ ]:
index = pd.to_datetime(data['인허가일자'],format="%Y%m%d")

In [ ]:
선행종합지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/경기종합지수.csv", encoding= 'euc-kr')

In [ ]:
소비자물가지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/소비자물가지수.csv", encoding= 'euc-kr')

In [ ]:
소비자심리지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/소비자심리지수.csv",encoding= 'euc-kr')

In [ ]:
중소기업대출금리 = pd.read_excel("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/은행_신규대출_대출금리.xlsx", index_col=0)

In [ ]:
data2 = pd.DataFrame(index = index)

In [ ]:
선행종합지수 = 선행종합지수.reindex()

In [ ]:
선행종합지수['시점'] = pd.to_datetime(선행종합지수['시점'][:-3].astype('str'))

In [ ]:
소비자물가지수 = 소비자물가지수.reindex()
소비자물가지수['시점'] = pd.to_datetime(소비자물가지수['시점'].astype('str'))

In [ ]:
소비자심리지수 = 소비자심리지수.reindex()
소비자심리지수['시점'] = pd.to_datetime(소비자심리지수['시점'].astype('str'))

In [ ]:
#중소기업대출금리 = 중소기업대출금리.reindex()
#중소기업대출금리['년도'] = pd.to_datetime(중소기업대출금리['년도'].astype('str'))

In [ ]:
중소기업대출금리.index = pd.to_datetime(중소기업대출금리.index.astype('str')).to_period('D')

In [ ]:
중소기업대출금리 = 중소기업대출금리.resample('D').mean().fillna(method='ffill')

In [ ]:
data2

Empty DataFrame
Columns: []
Index: [2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-02 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, 2017-01-03 00:00:00, ...]

[64951 rows x 0 columns]

In [ ]:
선행종합지수

           시점  선행종합지수(2015=100)
0  2017-01-01             106.6
1  2017-02-01             107.2
2  2017-03-01             107.6
3  2017-04-01             108.1
4  2017-05-01             108.4
..        ...               ...
60 2022-01-01             128.0
61 2022-02-01             128.0
62        NaT             128.1
63        NaT             128.2
64        NaT             128.7

[65 rows x 2 columns]

In [ ]:
pd.merge(data2, 선행종합지수, left_index=True, right_on='시점',how='left')

In [ ]:
data2 = data2.fillna(method='ffill').fillna(method='bfill')

In [ ]:
data2 = pd.merge(data2, 소비자물가지수, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')

In [ ]:
data2 = pd.merge(data2, 소비자심리지수, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')

In [ ]:
중소기업대출금리 = 중소기업대출금리.reset_index().rename(columns={'년도':'시점'})

In [ ]:
중소기업대출금리['시점']=pd.to_datetime(중소기업대출금리['시점'].astype('str'))

In [ ]:
data2 = pd.merge(data2, 중소기업대출금리, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')

In [ ]:
data['인허가일자']=pd.to_datetime(data['인허가일자'].astype('str'))

In [ ]:
중소기업대출금리

             소기업
년도
2017-01-01  4.60
2017-01-02  4.60
2017-01-03  4.60
2017-01-04  4.60
2017-01-05  4.60
...          ...
2020-12-28  3.25
2020-12-29  3.25
2020-12-30  3.25
2020-12-31  3.25
2021-01-01  4.06

[1462 rows x 1 columns]

In [ ]:
data3 = pd.concat([data, data2],axis=1).drop('시점',axis=1)

In [ ]:
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/seouldata_경제전처리.pickle', 'wb') as f:
    pickle.dump(data3, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import pickle
from datetime import datetime
# load
with open('/content/drive/MyDrive/통계 빅데이터 공모전/data/seouldata.pickle', 'rb') as f:
    data = pickle.load(f)
index = pd.to_datetime(data['인허가일자'],format="%Y%m%d")
선행종합지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/경기종합지수.csv", encoding= 'euc-kr')
소비자물가지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/소비자물가지수.csv", encoding= 'euc-kr')
소비자심리지수 = pd.read_csv("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/소비자심리지수.csv",encoding= 'euc-kr')
중소기업대출금리 = pd.read_excel("/content/drive/MyDrive/통계 빅데이터 공모전/data/경제 지표/은행_신규대출_대출금리.xlsx", index_col=0)

#데이터 정리
data2 = pd.DataFrame(index = index)
선행종합지수 = 선행종합지수.reindex()
선행종합지수['시점'] = pd.to_datetime(선행종합지수['시점'][:-3].astype('str'))
소비자물가지수 = 소비자물가지수.reindex()
소비자물가지수['시점'] = pd.to_datetime(소비자물가지수['시점'].astype('str'))
소비자심리지수 = 소비자심리지수.reindex()
소비자심리지수['시점'] = pd.to_datetime(소비자심리지수['시점'].astype('str'))
중소기업대출금리.index = pd.to_datetime(중소기업대출금리.index.astype('str')).to_period('D')
중소기업대출금리 = 중소기업대출금리.resample('D').mean().fillna(method='ffill')

#데이터 병함
pd.merge(data2, 선행종합지수, left_index=True, right_on='시점',how='left')
data2 = data2.fillna(method='ffill').fillna(method='bfill')
data2 = pd.merge(data2, 소비자물가지수, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')
중소기업대출금리 = 중소기업대출금리.reset_index().rename(columns={'년도':'시점'})
중소기업대출금리['시점']=pd.to_datetime(중소기업대출금리['시점'].astype('str'))
data2 = pd.merge(data2, 중소기업대출금리, left_on='시점', right_on='시점', how='left').fillna(method='ffill').fillna(method='bfill')
data['인허가일자']=pd.to_datetime(data['인허가일자'].astype('str'))
data3 = pd.concat([data, data2],axis=1).drop('시점',axis=1)